html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  letter-spacing: 0.55rem;
  text-align: center;
  font-size: 1.8rem;
}

.App {
  display: flex;
  flex-direction: row;
  font-family: "Nunito Sans", sans-serif;
  color: rgb(31, 54, 84);
  font-size: 1.6rem;
  line-height: 1.25;
  text-align: initial;
  justify-items: space-between;
  text-transform: uppercase;
  white-space: normal;
  width: 100%;
}
.imageWrap {
  background-image: url("Newt.jpg");
  width: 50%;
}
.contentWrap {
  height: 100%;
}
.playerBtn {
  max-width: 10rem;
  padding: 0.8rem;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  outline: 0;
}
.playerIcon {
  max-width: 5rem;
  display: block;
  background-position: center;
  background-size: inherit;
}
