html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  letter-spacing: 0.55rem;
  text-align: center;
  font-size: 1.8rem;
}

.App {
  display: flex;
  flex-direction: row;
  font-family: "Nunito Sans", sans-serif;
  color: rgb(31, 54, 84);
  font-size: 1.6rem;
  line-height: 1.25;
  text-align: initial;
  justify-items: stretch;
  text-transform: uppercase;
  white-space: normal;
  width: 600px;
  border-radius: 1rem;
  box-shadow: 0 0 5px 3px #636363;
  margin: 1rem;
}
.imageWrap {
  background-image: url("Newt.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 320px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: calc(1rem - 1px) 0 0 calc(1rem - 1px);
}
.contentWrap {
  height: 320px;
  width: 320px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.playerBtn {
  max-width: 10rem;
  padding: 0.8rem;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  outline: 0;
}
.playerIcon {
  max-width: 10rem;
  display: block;
  background-position: center;
  background-size: inherit;
}

.contentTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.shareBtn {
  background: none;
  border: none;
  outline: none;
}

.shareIcon {
  width: 20px;
  height: 20px;
  display: block;
}

.playerContent {
  text-transform: none;
}

.contentCopy {
  color: #636363;
}
.contentName {
  letter-spacing: 0;
  text-align: start;
}

.contentFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  height: 40px;
}
